*{
    box-sizing: border-box
}

body{
    background-color: #CFC1F0;
}

h1{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    border-bottom: 3px solid #524C5F;
}

h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

section {
    display: flex;
    padding: 0 2rem 3rem 2rem;
    margin-bottom: 2rem;
    border-bottom: 3px dashed #524C5F;
}

section img {
    box-shadow: 10px 10px 5px gray;
    display: block;
}

img.left{
    margin-right: 2rem;
}

img.right{
    margin-left: 2rem;
}

footer{
    background-color: #524C5F;
    color: white;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    margin-top: 5rem;
}