*{
    box-sizing: border-box
}

body{
    background-color: #CFC1F0;
}

hr.rounded{
    border-top: 6px solid #524C5F;
    border-radius: 5px;
}

h1{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.spruce {
    display: flex;
    flex-direction: column;
}

.spruce-image{
    box-shadow: 10px 10px 5px gray;
}

hr.dashed{
    border-top: 3px dashed #524C5F;
}

.brandon-image{
    box-shadow: 10px 10px 5px gray;

}

.brandon {
    display: flex;
    flex-direction: column;
}

.tbird-image{
    box-shadow: 10px 10px 5px gray;

}

.t-bird {
    display: flex;
    flex-direction: column;
}

footer{
    background-color: #524C5F;
    color: white;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}